Ivan Petrov/JavaExamples/WebServices введение/Projects/TestRESTfullService/xml-resources/jaxb/MyRESTfullBinding/localhost_9081/WebServiceRESTfullServer/webresources/application.wadl/xsd0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="responseList" type="responseList"/>

  <xs:element name="user" type="user"/>

  <xs:complexType name="responseList">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="age" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="IDENTITY" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>

